<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="./tests/Phalcon/Tests/Bootstrap.php"
        >

	<php>
		<var name="db_type" value="pdo_mysql"/>
		<var name="db_host" value="localhost" />
		<var name="db_username" value="root" />
		<var name="db_password" value="root" />
		<var name="db_name" value="phalcon_orm_test" />
		<var name="db_port" value="3306"/>
	</php>

    <testsuites>
		<testsuite name="Phalcon DBAL Test Suite">
			<directory>./tests/Phalcon/Tests/DBAL</directory>
		</testsuite>
        <testsuite name="Phalcon ORM Test Suite">
            <directory>./tests/Phalcon/Tests/ORM</directory>
        </testsuite>
    </testsuites>
</phpunit>