<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="./tests/Lynx/Tests/Bootstrap.php"
        >

	<php>
		<var name="db_type" value="pdo_mysql"/>
		<var name="db_host" value="localhost" />
		<var name="db_username" value="root" />
		<var name="db_password" value="" />
		<var name="db_name" value="lynx_test" />
		<var name="db_port" value="3306"/>
	</php>

    <testsuites>
        <testsuite name="Lynx Annotation Test Suite">
            <directory>./tests/Lynx/Tests/Annotation</directory>
        </testsuite>
        <testsuite name="Lynx Cache Test Suite">
            <directory>./tests/Lynx/Tests/Cache</directory>
        </testsuite>
		<testsuite name="Lynx DBAL Test Suite">
			<directory>./tests/Lynx/Tests/DBAL</directory>
		</testsuite>
        <testsuite name="Lynx ORM Test Suite">
            <directory>./tests/Lynx/Tests/ORM</directory>
        </testsuite>
		<testsuite name="Lynx Stdlib Test Suite">
            <directory>./tests/Lynx/Tests/Stdlib</directory>
        </testsuite>
    </testsuites>
</phpunit>